p{
    position:absolute;
    z-index: 2;
}
img{
    position:absolute;
    z-index:10;
}
#main{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    color:white;
}
#main2{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:1000%;
}
.tile{
    position:relative;
    left:0;
    top:0;
    width:100%;
    height:10%;
    overflow:hidden;
    text-overflow:ellipsis;
}
#t1,#t6{
    background-color: #97EC71;
}
#t2,#t7{
    background-color: #DBF977;
}
#t3,#t8{
    background-color: #4FC5C7;
}
#t4,#t9{
    background-color: #DE9DD6;
}
#t5,#t10{
    background-color: #FA6E86;
}
#img1{
    top:39%;
    left:53%;
    height:60%;
    transform: rotate(-30deg);
}
.fix0{
    position:absolute;
    left:0%;
    height:10%;
    width:100%;
    z-index:1;
}
#fix1{
    background-color: #37F647;
    top:70%;
}